.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base-container .header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
}

.base-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base-container .content .image {
  width: 10em;
  height: 10em;
}

.base-container .content .image img {
  width: 100%;
  height: 100%;
}

.base-container .form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base-container .form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  justify-content: center;
}

.base-container .form .form-group label {
  font: size 20px;
}

.base-container .form .form-group input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}

.base-container .form .form-group input:focus {
  outline: none;
}

.base-container .form .footer {
  margin-top: 3em;
  justify-content: center;
}

.login {
  width: 27em;
  height: 30em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
}

.login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 17px 10px;
}

.login .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  background-color: #a49165;
  width: 50%;
  position: absolute;
  right: -34%;
  border-radius: 6px;
  z-index: 100;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}

.login .right-side.right {
  right: -40%;
  align-items: flex-end;
}

.login .right-side.right:hover {
  right: -45%;
}

.login .right-side.left {
  right: 100%;
  align-items: flex-start;
}

.login .right-side.left:hover {
  right: 45%;
}

.login .right-side .text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;
}

.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #2386c8;
}

.btn:focus {
  outline: none;
}
